html, body {
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-family: 'times', sans-serif;
    color: black;
}

body {
    background-color: whitesmoke;
}

.top-bar {
    max-width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.logo {
   font-size: 25px;
   position: absolute;
   padding: 0px 0px 0px 20px;
   z-index: 3;
   color:maroon;
   font-weight: bold;
    top:-2px
}

.top-menu {
   background-color: maroon;
   position: absolute;
   top: 85px;
   z-index: 2;
   width: 100%;
}

.top-menu ul {
    list-style-type: none;
    font-size: 20px; 
    float: right;
    margin-right: 20px;
}

.top-menu li {
    display: inline-block;
}

.top-menu li a:link, .top-menu li a:visited {
    color: white;
    text-decoration: none;
    padding: 20px 20px 20.5px 20px;
}

.top-menu li a:hover {
    background-color: black;
}

.current-page-link {
    background-color:black;
}

.page-content {
    position: relative;
    top: 145px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    z-index: 1;
}

.main-section {
    padding: 10px 20px 10px 20px;
}

.main-section h1, .main-section h2 {
    color: maroon;
}

.main-section figure, .main-section img {
    display: block;
    margin: auto;
    width: 800px;
}

.footer {
    position: relative;
    top: 140px;
    z-index: 3;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color:maroon;
}

.footer-content {
    padding: 5px 5px 5px 20px;
    color: black;
    font-weight: bold;
}

.footer-content a:link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 35%;
  padding: 49.5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
div.desc {
  padding: 15px;
  text-align: center;